<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Ruby in Rails Tutorial at the
  <a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>.
  To get help om this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruvy on Rails Tutorial</em> book</a>.
</p>